
/* Reconfigurando algumas classes de CSS do Materialize para se adaptar melhor ao site */

/* NAVBAR */

nav .brand-logo {
    font-size: 1.6rem;
}

nav .brand-logo i,
nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
  font-size: 2.4rem;
}

#nome-nav {
    font-size: large;
}

#nav-name{
    font-size: 18px;
}

#nav-image {
    width: 40px;
    height: 40px;
    margin-top: 12px;
}

#nav-mobile-icon{
    display: none;
}

#nav-color {
    color: black;
}

#nav-title-icon{
    font-size: 35px;
}

.sidenav .collapsible {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.dropdown-content {
    min-width: 150px;
}


/* Conteudo da pagina */

#main {
  position: relative;
  height: 100%
}

#main-title{
  left: 0px;
  top: 0px;
}

#blueColor {
  color: #0c3350;
}

#titleColor {
  color: #032946df;
}




/* Algumas medias para desktops pequenos */
@media only screen and (min-width: 993px) {
    nav .brand-logo {
        font-size: 2.6rem;
    }

    nav a.sidenav-trigger {
        display: flex;
      }

    #nav-drop {
        display: flex;
    }

}

/* Algumas medidas para mobille */
@media screen and (max-width: 992px) { 
    #button-report {
        display: none;
    }

    #nav-mobile-icon{
        display: flex;
    }

    /* label color */
    .input-field label {
      color: #000;
      font-size: 22px;
    }
    
    #botao-cancelar {
      display: none;
    }



}

/* Preloader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #01579b;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
  }

/* Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; */